/* ========== MAIN ==========*/
.main-container {
    display: flex;
    overflow: hidden;
}
.box {
    display: flex;
    flex-direction: column;
    background-color: #242424;
}
section.box {
    width: 70vw;
    height: 100%;

    display: flex;

    padding: 0 5vw;
}

/* ========== FILTERS ==========*/
section h1 {
    padding: 2vh 0;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}
.filter {
    display: flex;
    flex-direction: column;

    padding: 2vh 0;
}
.filter .inputs {
    height: 5vh;
    padding: 2vh 0;

    display: flex;
    gap: 2vw;
}
.filter .inputs .single-filter {
    height: 5vh;

    display: flex;
    align-items: center;
    gap: 1vw;
}

/* ========== PAGINATION ==========*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2vh 0;

    font-size: 1.3rem;
}
.pagination ul {
    display: flex;
    gap: 10px
}
.pagination li {
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination li.clickable {
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
}
.pagination li.clickable:hover {
    background-color: var(--clr-dark-hover);
    cursor: pointer;
}
.pagination i {
    font-size: 1.5rem;
    cursor: pointer;
}





@media (prefers-color-scheme: light) {
    .box {
        background-color: #ffffff;
    }
    section h1 {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    .pagination li.clickable:hover {
        background-color: var(--clr-light-hover);
    }
}