/* ========== MAIN ==========*/
.main-container {
    display: flex;
}
.box {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark-100);
}
section.box {
    width: 70vw;
    height: 100vh;

    display: flex;

    padding: 0 5vw;

    overflow: scroll;
}

/* ========== FILTERS ==========*/
section h1 {
    padding: 2vh 0;
    text-align: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
}
.add-new {
    display: flex;
    justify-content: end;
    align-items: center;
}
.filter {
    display: flex;
    flex-direction: column;

    padding: 2vh 0;
}
.filter .inputs {
    height: 5vh;
    padding: 2vh 0;

    display: flex;
    gap: 2vw;
}
.filter .inputs .single-filter {
    height: 5vh;

    display: flex;
    align-items: center;
    gap: 1vw;
}

/* ========== LIST ==========*/
.edit,
.details {
    width: 2rem;
    height: 2rem;

    padding: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    
    cursor: pointer;
}
.details:hover {
    background-color: rgb(43, 123, 43);
}
.edit:hover {
    background-color: rgb(168, 127, 33);
}

/* ========== PAGINATION ==========*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 2vh 0;

    font-size: 1.3rem;

    user-select: none;
}
.pagination ul {
    display: flex;
}
.pagination li {
    height: 3rem;
    width: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 10px;
}
.pagination li.clickable:hover {
    background-color: var(--clr-dark-500);
    cursor: pointer;
}
.pagination i {
    font-size: 1.5rem;
    cursor: pointer;
}

/* ========== PATH ==========*/
.path {
    display: flex;
    align-items: center;

    gap: 1vw;
    line-height: 4rem;

    user-select: none;
}
.path-arrows {
    letter-spacing: -5px;
    font-size: 1.5rem;
}
.path-link {
    font-size: 1.1em;

    cursor: pointer;
}
.path-link:hover {
    color: var(--clr-dark-500);
}

/* ========== CONTRROL BUTTON ==========*/
.control-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 2vw;

    margin: 2vh 0 5vh 0;
}

@media (prefers-color-scheme: light) {
    .box {
        background-color: #ffffff;
    }
    section h1 {
        border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    }
    .pagination li.clickable:hover {
        background-color: var(--clr-light-500);
    }
    .details:hover {
        background-color: rgb(66, 195, 66);
    }
    .edit:hover {
        background-color: rgb(255, 194, 52);
    }
    .path-link {
        font-weight: 600;
    }
    .path-link:hover {
        color: var(--clr-light-500);
    }
}