.main-container {
    display: flex;
    overflow: hidden;
}
.box {
    display: flex;
    flex-direction: column;
    background-color: #242424;
}



@media (prefers-color-scheme: light) {
    .box {
        background-color: #ffffff;
    }
}