.layer.selects {
    width: 50%;
}
.layer.selects * {
    width: 100%;
}
.input-container input {
    width: calc(100% - 0.8rem);
}
.input-container textarea {
    width: calc(100% - 0.8rem);
    height: 100%;
}