.layer.selects {
    width: 50%;
}
.layer.selects * {
    width: 100%;
}
.input-container input {
    width: calc(100% - 0.8rem);
}
.input-container textarea {
    width: calc(100% - 0.8rem);
    height: 100%;
}


.details-page .line {
    gap: 0;
}

.cart-info-box {
    display: flex;
}
.cart-info-box .details-left {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    flex-basis: 60%;
}
.cart-info-box .details-right {
    padding: 3vh 1vw;
    flex-basis: 40%;
    
    /*
        height of screen
        - header padding
        - header size
        - header border
        - details-right padding
    */
    max-height: calc(100vh - 4vh - 4.5rem - 2px - 6vh);
    overflow-y: scroll;
}


.orders-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.order-box {
    display: flex;

    height: 15vh;
    border-radius: 10px;
    overflow: hidden; 

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--clr-dark-100);

    cursor: pointer;
}
.order-box:hover {
    background-color: var(--clr-dark-500);
}
.order-box img {
    height: 15vh;
}
.order-box .order-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.order-box .order-info h5 {
    flex-basis: 100%;
    text-align: center;
}
.order-box .order-info p {
    flex-basis: 50%;
    text-align: center;
}


@media (prefers-color-scheme: light) {
    .order-box {
        background-color: var(--clr-light-900);
    }
    .order-box:hover {
        background-color: var(--clr-light-500);
    }
}