.form {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.line {
    background-color: green;
    display: flex;
    padding: 2vh 0;
}
.line.top-bottom {
    flex-direction: column;
}
.line.left-right {
    
}
.layer {
    background-color: red;
}
.input-container {
    background-color: blue;
}