/* ========== MAIN STYLES ==========*/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #19242e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --clr-dark-600: #585fe9;
    --clr-dark-500: #363ec7;
    --clr-dark-200: #253543;
    --clr-dark-100: #242424;

    --clr-light-800: #d1dcea;
    --clr-light-500: #adb1ff;
    --clr-light-400: #8b90dd;
}
html, body {
    padding: 0;
    margin: 0;
}
* {
    transition: all 150ms ease-in-out;
}

/* ========== HEADERS & TEXTS ==========*/
h1 {
    margin: 0;
    font-size: 3rem;
    user-select: none;
}
h2 {
    margin: 0;
    font-size: 2.5rem;
    user-select: none;
}
h3 {
    margin: 0;
    font-size: 2rem;
    user-select: none;
}
h4 {
    margin: 0;
    font-size: 1.5rem;
    user-select: none;
}
h5 {
    margin: 0;
    font-size: 1.2rem;
    user-select: none;
}
h6 {
    margin: 0;
    font-size: 1rem;
    user-select: none;
}
p {
    margin: 0;
}

/* ========== LISTS ==========*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
}

/* ========== LINKS ==========*/
a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

/* ========== FORMS ==========*/
input {
    height: 2rem;
    width: 15rem;

    padding: 0.4rem;

    border-radius: 7px;
    outline: none;
    border: none;

    background-color: var(--clr-dark-100);
    border: 2px solid rgba(255, 255, 255, 0.87);

    font-size: 1.25rem;

    transition: 150ms ease-in-out;
}
input:focus {
    background-color: var(--clr-dark-200);
}
select {
    width: 15rem;

    padding: 0.4rem;

    border-radius: 7px;
    outline: none;
    border: none;

    background-color: var(--clr-dark-100);
    border: 2px solid rgba(255, 255, 255, 0.87);

    font-size: 1.25rem;

    transition: 150ms ease-in-out;
}
select:hover {
    background-color: var(--clr-dark-200);
}
label {
    display: inline-block;
    user-select: none;
    font-size: 1.25rem;
}
button,
.button{
    height: 3rem;
    width: 9rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 7px;
    outline: none;
    border: none;

    font-size: 1.5rem;
    font-weight: 700;

    background-color: var(--clr-dark-100);

    cursor: pointer;

    transition: 150ms ease-in-out;
}
button:hover,
.button:hover {
    background-color: var(--clr-dark-500);
}
textarea {
    width: 15rem;
    padding: 0.4rem;

    border-radius: 7px;
    outline: none;
    border: none;

    background-color: var(--clr-dark-100);
    border: 2px solid rgba(255, 255, 255, 0.87);
    
    font-size: 1rem;

    resize: none;

    transition: 150ms ease-in-out;
}
textarea:focus {
    background-color: var(--clr-dark-200);
}

/* ========== TABLES ==========*/
table {
    width: 100%;
    
    font-size: 1.2rem;

    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
th {
    padding: 0.5rem 0;
    background-color: var(--clr-dark-500);
}
th:last-child {
    width: 7%;
}
th:not(:last-child) {
    cursor: pointer;
    user-select: none;
}
th:hover:not(:last-child) {
    background-color: var(--clr-dark-600);
}
tbody {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
tbody tr:nth-child(even) {
    background-color: var(--clr-dark-200);
}
td {
    padding: 0.25rem 1rem;
}
td:last-child {
    font-size: 1.3rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: var(--clr-light-800);
    }
    a {
      color: #213547;
    }
    input {
        background-color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    input:focus {
        background-color: var(--clr-light-800);
    }
    select {
        background-color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    select:focus {
        background-color: var(--clr-light-800);
    }
    button,
    .button {
        background-color: #ffffff;
        color: #213547;
    }
    textarea {
        background-color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    textarea:focus {
        background-color: var(--clr-light-800);
    }
    button:hover,
    .button:hover {
        background-color: var(--clr-light-500);
    }
    th {
        background-color: var(--clr-light-500);
    }
    th:hover:not(:last-child) {
        background-color: var(--clr-light-400);
    }
    tbody tr:nth-child(even) {
        background-color: var(--clr-light-800);
    }
}