/* ========== MAIN STYLES ==========*/
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #19242e;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: all 150ms ease-in-out;
}
html, body {
    padding: 0;
    margin: 0;
}

/* ========== HEADERS & TEXTS ==========*/
h1 {
    margin: 0;
    font-size: 3rem;
    user-select: none;
}
h2 {
    margin: 0;
    font-size: 2.5rem;
    user-select: none;
}
h3 {
    margin: 0;
    font-size: 2rem;
    user-select: none;
}
h4 {
    margin: 0;
    font-size: 1.5rem;
    user-select: none;
}
h5 {
    margin: 0;
    font-size: 1.2rem;
    user-select: none;
}
h6 {
    margin: 0;
    font-size: 1rem;
    user-select: none;
}
p {
    margin: 0;
}

/* ========== LISTS ==========*/
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
}

/* ========== LINKS ==========*/
a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

/* ========== FORMS ==========*/
input {
    padding: 10px;

    border-radius: 7px;
    outline: none;
    border: none;

    background-color: #242424;
    border: 2px solid rgba(255, 255, 255, 0.87);

    transition: 150ms ease-in-out;
}
input:focus {
    background-color: #253543;
}
label {
    display: inline-block;
    user-select: none;
}
button{
    padding: 10px 60px; 

    border-radius: 5px;
    outline: none;
    border: none;

    font-size: 1.5rem;
    font-weight: 700;

    background-color: #242424;

    cursor: pointer;

    transition: 150ms ease-in-out;
}
button:hover {
    background-color: #6269ed;
}

/* ========== TABLES ==========*/
table {
    width: 100%;
    
    line-height: 2.2rem;

    border-collapse: collapse;
}
thead {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
th {
    background-color: #adb1ff;
}
th:last-child {
    width: 10%;
}
tbody {
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}
tr:nth-child(even) {
    background-color: #d1dcea;
}
td:last-child {
    font-size: 1.5rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


@media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #d1dcea;
    }
    a {
      color: #213547;
    }
    input {
        background-color: #ffffff;
        border: 2px solid rgba(0, 0, 0, 0.5);
    }
    input:focus {
        background-color: #d1dcea;
    }
    button {
        background-color: #ffffff;
        color: #213547;
    }
    button:hover {
        background-color: #adb1ff;
    }
}