nav.container {
    width: 20%;
    height: 100vh;

    box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.5);

    user-select: none;
}

nav .box {
    height: 100%;
    padding: 0 5%;
    background-color: red;
}

nav .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20%;

    text-align: center;
}

nav .menu {
    height: 80%;
    background-color: green;
}