.order-container {
    display: flex;
    width: 100%;
}
.order-container .layer,
.order-container .input-container,
.order-container select {
    width: 100%;
}

.container.orders th.wide {
    width: calc((100% - 7% - 15% - 15%) / 3)
}
.container.orders th.medium {
   width: 15%;
}

.order-info-box {
    display: flex;
    flex-wrap: wrap;
}
.order-container .order-left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    flex-basis: 50%;
}
.order-info-box .details-left{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    
    flex-basis: 60%;
}
.order-container .order-right {
    box-sizing: border-box;
    margin: 1.5vh 0;
    padding: 1.5vh 1vw;
    flex-basis: 50%;
    
    /*
        height of screen
        - header padding
        - header size
        - header border
        - details-right padding
        - details-right margin
    */
    max-height: calc(100vh - 4vh - 4.5rem - 2px - 3vh - 3vh);
    overflow-y: scroll;
}
.order-info-box .details-right{
    box-sizing: border-box;
    margin: 1.5vh 0;
    padding: 1.5vh 1vw;
    flex-basis: 40%;
    
    /*
        height of screen
        - header padding
        - header size
        - header border
        - details-right padding
        - details-right margin
    */
    max-height: calc(100vh - 4vh - 4.5rem - 2px - 3vh - 3vh);
    overflow-y: scroll;
}

.meals-shortcuts {
    display: flex;
    flex-direction: column;
    gap: 2vh;

    user-select: none;
}
.new-meal {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 15vh;
    border-radius: 10px;

    background-color: var(--clr-dark-100);
    border: dashed 2px var(--clr-light-900);

    font-size: 3rem;

    cursor: pointer;
}
.new-meal:hover {
    background-color: var(--clr-dark-500);
}
.meal-box {
    display: flex;

    height: 15vh;
    border-radius: 10px;
    overflow: hidden; 

    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
    background-color: var(--clr-dark-100);

    cursor: pointer;
}
.meal-box .meal-info:hover,
.meal-box img:hover + .meal-info{
    background-color: var(--clr-dark-500);
}
.meal-box img {
    height: 15vh;
}
.meal-box .meal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.meal-box .meal-info h5 {
    flex-basis: 100%;
    text-align: center;
}
.meal-box .meal-info p {
    flex-basis: 50%;
    text-align: center;
}

.meal-box button {
    width: 0;
    padding: 0;
}
.meal-box button i {
    transform: translateX(200%);
}
.meal-box:hover button {
    width: 15%;
}
.meal-box:hover button i{
    transform: translateX(0);
}


@media (prefers-color-scheme: light) {
    .meal-box {
        background-color: var(--clr-light-900);
    }
    .meal-box .meal-info:hover,
    .meal-box img:hover + .meal-info {
        background-color: var(--clr-light-500);
    }
    .new-meal {
        background-color: var(--clr-light-900);
        border-color: var(--clr-dark-200);
    }
    .new-meal:hover {
        background-color: var(--clr-light-500);
    }
}