<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/934c964a-ab0d-42ac-9148-1e3183721e81/resourceGroups/rg-food-ordering/providers/Microsoft.Web/sites/food-ordering-api</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://food-ordering-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>13a98c1c-faed-4529-9e65-078e318c4c9a</ProjectGuid>
    <PublishUrl>https://food-ordering-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$food-ordering-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>